.btn-success {
  color: white;
  padding: 12px 12px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#16fb6a, #61c40f);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}
